<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Microfrontend root</title>
</head>

<body>
    <div id="single-spa-application:navbar"></div>
    <div id="single-spa-application:main-angular-app-1"></div>
    <!-- <div id="single-spa-application:angular-app-2"></div> -->
</body>

</html>